{% extends 'accounts/base.html' %} 

{% block page_title %}Tela Inicial{% endblock page_title %}
    
{% block body %}
    <div class="container-md container-fluid mt-2 d-flex flex-column justify-content-center align-items-center gap-4">
        <div class="w-75 text-white text-center" style="border-radius: 10px;">
        
            {% if request.user.is_authenticated %}
                <h2 class="mt-2">
                    Bem vindo, <strong>{{ user }}</strong>
                </h2>
            {% else %}
                <h2 class="mt-2">
                    Bem vindo! Faça login para continuar.
                </h2>
            {% endif %}
                
            <p>
                Este site permite o envio de ocorrências de crimes para registro dessas informações em uma base de dados.
                Estas informações são públicas e podem ser acessadas por qualquer pessoa.
                Caso deseje, você pode enviar uma ocorrência de crime de maneira anônima, sem comprometer seus dados.
            </p>
           
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if request.user.is_authenticated %}
                <div class="row w-75 d-md-inline d-none">
                    <div class="col d-flex justify-content-center">
                        <a href="{% url 'enviar_ocorrencia' %}" class="btn btn-lg btn-light">Enviar Ocorrência</a>
                    </div>
                </div>
                
                <div class="row w-75 d-md-none d-inline">
                    <div class="col d-flex justify-content-center">
                        <a href="{% url 'enviar_ocorrencia' %}" class="btn btn-light">Enviar Ocorrência</a>
                    </div>
                </div>
                
                
                <div class="row w-75 d-md-inline d-none">
                    <div class="col d-flex justify-content-center">
                        <a href="{% url 'logout' %}" class="btn btn-lg btn-secondary">Logout</a>
                    </div>
                </div>
                
                <div class="row w-75 d-md-none d-inline">
                    <div class="col d-flex justify-content-center">
                        <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
                    </div>
                </div>
                
            {% else %}
                <div class="row w-75 d-md-inline d-none">
                    <div class="col d-flex justify-content-center">
                        <a href="{% url 'register' %}" class="btn btn-lg btn-light">Cadastrar-se</a>
                    </div>
                </div>

                <div class="row w-75 d-md-none d-inline">
                    <div class="col d-flex justify-content-center">
                        <a href="{% url 'register' %}" class="btn btn-light">Cadastrar-se</a>
                    </div>
                </div>

                <div class="row w-75 d-md-inline d-none">
                    <div class="col d-flex justify-content-center">
                        <a href="{% url 'login' %}" class="btn btn-lg btn-secondary">Entrar</a>
                    </div>
                </div>

                <div class="row w-75 d-md-none d-inline">
                    <div class="col d-flex justify-content-center">
                        <a href="{% url 'login' %}" class="btn btn-secondary">Entrar</a>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock body %}
        
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {

            window.setTimeout(function () {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 5000);

        });
    </script>
{% endblock js %}
    


