{% extends 'accounts/base.html' %} 

{% block page_title %}Tela Inicial{% endblock page_title %}
    
{% block body %}
    <div class="container-md container-fluid mt-2 d-flex flex-column justify-content-center align-items-center gap-4">
        <div class="w-75 text-white text-center" style="border-radius: 10px;">
            <h2 class="d-flex m-0 mt-2 justify-content-center "><strong>Bem vindo</strong></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe adipisci, excepturi vero voluptates at tempore rerum minima unde quasi sed.</p>
            
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock body %}
        
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {

            window.setTimeout(function () {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 5000);

        });
    </script>
{% endblock js %}
    


