{% extends 'accounts/base.html' %}

{% load static %}

{% block page_title %}Cadastrar-se{% endblock page_title %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<style>
    .fa-eye, .fa-eye-slash {
        cursor: pointer;
    }
</style>
{% endblock css %}

{% block body %}
<div class="container-md container-fluid mt-2 d-flex flex-column justify-content-center align-items-center gap-4">
    <div class="w-75 shadow-lg" style="border-radius: 10px; background-color: rgb(158, 181, 182);">
        <h2 class="d-flex m-0 mt-2 justify-content-center"><strong>Cadastre-se</strong></h2>

        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <form method="post" novalidate>
            {% csrf_token %}

            <div class="d-flex h-auto gap-3 w-75 flex-column align-items-center p-3 pt-0 w-100">
                {% for field in form %}
                <div class="row w-100 justify-content-center">
                    <div class="col-md-10 position-relative form-group">

                        {{field.label_tag}}

                        {% if "password" in field.html_name %}
                        <div class="d-flex gap-3">
                            <div style="width: 97%;"> 
                                {{ field }}
                                <div class="valid-feedback">
                                    OK!
                                </div>
        
                                <div class="invalid-feedback" id="invalid-feedback-{{ field.html_name }}">
                                    
                                </div>
                            </div>
                            <div style="width: 3%; margin-right: 1px; padding-top: 6px;">
                                <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>

                        {% else %}
                            {{ field }}
                            <div class="valid-feedback">
                                OK!
                            </div>
    
                            <div class="invalid-feedback" id="invalid-feedback-{{ field.html_name }}">
                                
                            </div>
                        {% endif %}

                        {% if field.errors %}
                            {{field.errors}}
                        {% endif %}

                        {% if not field.errors %}
                            {% if field.help_text %}
                            <p class="help" id="{{ field.auto_id }}_helptext">
                                {{ field.help_text|safe }}
                            </p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

                <div class="row w-75 d-md-inline d-none">
                    <div class="col d-flex justify-content-center">
                        <input type="submit" class="btn btn-lg btn-success bg-dark" value="Cadastrar-se">
                    </div>
                </div>

                <div class="row w-75 d-md-none d-inline">
                    <div class="col d-flex justify-content-center">
                        <input type="submit" class="btn btn-success bg-dark" value="Cadastrar-se">
                    </div>
                </div>

                <div class="row w-75">
                    <div class="col d-flex justify-content-center">
                        <a type="button" class="btn btn-primary" href="{% url 'home' %}">Voltar</a>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>
{% endblock body %}

{% block js %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/cadastro.js' %}"></script>
{% endblock js %}